<!doctype html>
<html class="psg-theme" lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Styleguide – <%= projectName %></title>
        <style><%- codeStyle %><%- tmplStyle %><%- processedCSS %></style>
    </head>

    <body>

    <header class="effect">
      <div class="psg-title">
        <h1><%= projectName %></h1>
        <h2>Styleguide</h2>
      </div>
    </header>
      <div class="psg-wrapper">

        <nav class="psg-menu">

          <h3>Quicklinks</h3>

          <ul class="psg-ComponentList">
            <% if (Array.isArray(colorPalette) && colorPalette.length !== 0) { %>
                <li class="psg-ComponentList__item"><a href="#color-palette">Color Palette</a></li>
            <% } %>
            <% maps.forEach(function (map) { %>
              <% if (map.link.title !== null) { %>
                  <li class="psg-ComponentList__item">
                    <a href="#<%= map.link.id %>" ><%= map.link.title %></a>
                  </li>
              <% } %>
            <% }) %>
          </ul>

        </nav>

        <div class="psg-main">
          <div class="psg-container">
            <% if (Array.isArray(colorPalette) && colorPalette.length !== 0) { %>
            <section class="psg-section">
                <h2 id="color-palette" class="psg-component-title">Color Palette</h2>
                <div class="psg-contents">
                  <div class="psg-colorPalette">
                    <% colorPalette.forEach(function (palette) { %>
                    <div class="psg-colorBox">
                        <div class="psg-colorBox__sample" style="background-color: <%= palette.color %>">
                        </div>
                        <div class="psg-colorBox__name">
                            <%= palette.name %> <br>
                            <strong><%= palette.color %></strong>
                        </div>
                    </div>
                    <% }) %>
                  </div>
                </div>
            </section>
            <hr class="psg-separator">
            <% } %>
            <% maps.forEach(function (map) { %>
                <section class="psg-section">
                    <h2 id="<%= map.link.id %>" class="psg-component-title"><%= map.link.title %></h2>

                    <div class="psg-contents">
                      <%- map.html %>
                    </div>
                </section>
                <hr class="psg-separator">
            <% }) %>
          </div>
        </div>

      </div>

    </body>
</html>
