<div class="detailContent">
  <h1>{{area.properties.name}}</h1>
  <h2>Pisten ({{slopes.length}})</h2>
  <ul>
      {{#each slopes}}
          <li>{{link this "slopes"}}</li>
      {{/each}}
  </ul>
  <h2>Hütten ({{huts.length}})</h2>
  <ul>
      {{#each huts}}
          <li>{{this.properties.name}}</li>
      {{/each}}
  </ul>
  <h2>Lifte ({{lifts.length}})</h2>
  <ul>
      {{#each lifts}}
          <li>{{this.properties.name}}</li>
      {{/each}}
  </ul>
  <h2>Parkplatz ({{parking.length}})</h2>
  <ul>
      {{#each parking}}
          <li>Parkplatzgröße: {{this.properties.groesse}}</li>
      {{/each}}
  </ul>
  <div class="auslastung">
  </div>
  <div class="schnee"></div>
  <div class="pisten"></div>
</div>
