<div class="detailContent">
  <div class="scrollTop"><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
  <h1>Skigebiet {{area.properties.name}}</h1>
  <h2>{{area.properties.skiregion}}{{#if area.properties.skiverbund}} – {{area.properties.skiverbund}}{{/if}}</h2>

  <div class="statistic__overview cols">
    <div class="statistic__overview__item">
      <div class="statistic__overview__item__content">
        <span class="number">{{slopes.length}}</span>
        <span class="title">Pisten</span>
      </div>
    </div>
    <div class="statistic__overview__item">
      <div class="statistic__overview__item__content">
        <span class="number">{{lifts.length}}</span>
        <span class="title">Lifte</span>
      </div>
    </div>
    <div class="statistic__overview__item">
      <div class="statistic__overview__item__content">
        <span class="number">{{huts.length}}</span>
        <span class="title">Hütten</span>
      </div>
    </div>
    <div class="statistic__overview__item">
      <div class="statistic__overview__item__content">
        <span class="number">{{parking.length}}</span>
        <span class="title">Parkplätze</span>
      </div>
    </div>
  </div>
  <div class="cols chartsWrapper">
    <div class="pistenWrapper">
      <h2>Pistenanteile</h2>
      <div class="pisten"></div>
    </div>
    <div class="schneeWrapper">
      <h2>Schneemenge in cm</h2>
      <div class="schnee"></div>
    </div>
  </div>


  <div class="areasSlopes">
    <h3>Pisten</h3>
    <ul class="listSlopes textCol list-plain">
        {{#each (sortArr slopes "name")}}
            <li>{{link this "slopes"}}</li>
        {{/each}}
    </ul>
  </div>
  <div class="areasLifts">
    <h3>Lifte</h3>
    <ul class="listSlopes textCol list-plain">
        {{#each (sortArr lifts "name")}}
            <li>{{link this "lifts"}}</li>
        {{/each}}
    </ul>
  </div>
  <div class="areasHuts">
    <h3>Hütten</h3>
    <ul class="listSlopes textCol list-plain">
        {{#each (sortArr huts "name")}}
            <li>{{link this "huts"}}</li>
        {{/each}}
    </ul>
  </div>
  <div class="areasParking">
    <h3>Parkplatz</h3>
    <ul class="listSlopes textCol list-plain">
        {{#each parking}}
            <li>P{{@index}}: {{this.properties.groesse}} Plätze</li>
        {{/each}}
    </ul>
  </div>
  <div class="auslastungWrapper">
    <div class="auslastung"></div>
  </div>


</div>
