<h1>{{area.properties.name}}</h1>
<h2>Pisten ({{slopes.length}})</h2>
<ol>
    {{#each slopes}}
        <li>{{link this "slopes"}}</li>
    {{/each}}
</ol>
<h2>Hütten ({{huts.length}})</h2>
<ol>
    {{#each huts}}
        <li>{{this.properties.name}}</li>
    {{/each}}
</ol>
<h2>Lifte ({{lifts.length}})</h2>
<ol>
    {{#each lifts}}
        <li>{{this.properties.name}}</li>
    {{/each}}
</ol>
<h2>Parkplatz ({{parking.length}})</h2>
<ol>
    {{#each parking}}
        <li>Parkplatzgröße: {{this.properties.groesse}}</li>
    {{/each}}
</ol>
<div class="auslastung"></div>
<div class="schnee"></div>