<div class="detailContent">
  <h1>{{properties.name}}</h1>
  <p><em>Halter:</em> {{properties.halter}}</p>
  <p><em>Plätze:</em> {{properties.plaetze}}</p>
  <p><em>Adresse:</em> {{properties.adresse}}</p>
  <p><em>Zufahrt:</em> {{properties.zufahrt}}</p>
  <p><em>Unterkunft:</em> {{properties.unterkunft}}</p>
  <p><em>Betten:</em> {{properties.betten}}</p>
  <p><em>Bemerkung:</em> {{properties.bemerkung}}</p>

  <p><em>Bemerkung:</em> {{geometry.coordinates}}</p>
</div>


