<div class="detailContent">
  <h1>{{hut.properties.name}}</h1>
  <h1>{{area.properties.name}}</h1>
  <p><em>Halter:</em> {{hut.properties.halter}}</p>
  <p><em>Plätze:</em> {{hut.properties.plaetze}}</p>
  <p><em>Adresse:</em> {{hut.properties.adresse}}</p>
  <p><em>Zufahrt:</em> {{hut.properties.zufahrt}}</p>
  <p><em>Unterkunft:</em> {{hut.properties.unterkunft}}</p>
  <p><em>Betten:</em> {{hut.properties.betten}}</p>
  <p><em>Bemerkung:</em> {{hut.properties.bemerkung}}</p>

  <p><em>Koordinaten:</em> {{hut.geometry.coordinates}}</p>

</div>

<div class="auslastung"></div>




