<div class="detailContent">
  <div class="scrollTop"><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>

  <h1>{{lift.properties.name}}</h1>
  <h1>{{area.properties.name}}</h1>
  <p><em>Art:</em> {{lift.properties.fahrbetrieb}}</p>
  <p><em>Länge:</em> {{lift.properties.length}} m</p>
  <p><em>Betreiber:</em> {{lift.properties.operator}}</p>
</div>
